{% extends 'camo/camo_template.html' %}

{% block title %}Montaż {{ object }}{% endblock %}

{% block submenu %}
     {% include "camo/aircraft_submenu.html" %}
{% endblock %}

{% block content %}

    <div class="pure-u-5-6">

        <h2>Montaż istniejącej części do {{ object }}</h2>

        {% if spare_parts %}
            <form class="pure-form pure-form-aligned" action="" method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                    <tr><td></td><td>
                    <button type="submit" class="pure-button" style="margin-right: 10px">Zabuduj</button>
                    <a class="pure-button" href="javascript:history.go(-1)">Anuluj</a>
                    </td></tr>
                </table>
            </form>
        {% else %}
            <p class="info-text">Brak części możliwych do montażu.</p>
        {% endif %}

    </div>

{% endblock %}