{% extends 'camo/camo_template.html' %}

{% block title %}CRS{% endblock %}

{% block content %}

    <div class="pure-u">

        <h2>Tworzenie poświadczenia obsługi</h2>

        <form class="pure-form pure-form-aligned" action="" method="POST">
             {% csrf_token %}
             <table>
                 <tr><td style="text-align: right; padding-right: 10px; padding-bottom: 10px">Poświadczenie dla:</td><td><b>{{ work_order.aircraft }}</b></td><td>
                 <tr><td style="text-align: right; padding-right: 10px; padding-bottom: 10px">Na podstawie zlecenia:</td><td><b>{{ work_order }}</b></td><td>
                 <tr><td style="text-align: right; padding-right: 10px; padding-bottom: 10px">Wykonane przez:</td><td><b>{{ work_order.aso }}</b></td><td>
                 {{ form.as_table }}
                 <tr><td></td><td>
                 <button type="submit" class="pure-button" style="margin-right: 10px">Utwórz</button>
                 <a class="pure-button" href="javascript:history.go(-1)">Anuluj</a>
                 </td></tr>
             </table>
        </form>

    </div>

{% endblock %}