{% extends 'camo/camo_template.html' %}

{% block title %}{{ object }}{% endblock %}

{% if submenu_template %}
    {% block submenu %}
        {% include submenu_template|default:"camo/empty_submenu.html" %}
    {% endblock %}
{% endif  %}

{% block content %}

    <div class="pure-u-5-6">

        <h2>{{ title }}</h2>

        <form class="pure-form pure-form-aligned" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button type="submit" class="pure-button" style="margin-right: 10px">Wczytaj</button>
            <a class="pure-button" href="javascript:history.go(-1)">Anuluj</a>
        </form>

        <br>

        <h2>Wymagany format pliku:</h2>

        <table id="data-table">
            <tr>
            <th>Lp.</th>
            {% for field in fields %}
                <td style="text-align: center">
                    {{ forloop.counter }}
                </td>
            {% endfor %}
            </tr>
            <tr>
            <th>Pole</th>
            {% for field in fields %}
                <td><b>
                    {{ field.0 }}
                </b></td>
            {% endfor %}
            </tr>
            <tr>
            <th>Format</th>
            {% for field in fields %}
                <td style="text-align: center">
                    {{ field.2 }}
                </td>
            {% endfor %}
            </tr>
            <th>Wymagane</th>
            {% for field in fields %}
                <td style="text-align: center">
                    {{ field.4|yesno:"tak," }}
                </td>
            {% endfor %}
            </tr>
        </table>

    </div>

{% endblock %}