{% extends 'camo/camo_template.html' %}

{% block title %}{{ group.POT_ref }}{% endblock %}

{% if submenu_template %}
    {% block submenu %}
        {% include submenu_template|default:"camo/empty_submenu.html" %}
    {% endblock %}
{% endif  %}

{% block content %}

    <div class="pure-u">

        <h2>Klonowanie {{ group.POT_ref }} dla {{ group.part.part_no }}</h2>

        {% if parts %}
            <form class="pure-form pure-form-aligned" action="" method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                    <tr><td></td><td>
                    <button type="submit" class="pure-button" style="margin-right: 10px">Klonuj</button>
                    <a class="pure-button" href="javascript:history.go(-1)">Anuluj</a>
                    </td></tr>
                </table>
            </form>

        {% else %}
            <p class="info-text" style="margin-bottom: 5px">Brak części do sklonowania.</p>
            <a class="pure-button" href="javascript:history.go(-1)">Anuluj</a>
        {% endif %}

    </div>

{% endblock %}