{% extends 'salt_mobile.html' %}

{% block title %}Check in{% endblock %}

{% block header %}Zamknięcie PDT{% endblock %}

{% block content %}

    <div style="text-align: center; margin-top: 10px; margin-bottom: 10px">
        <b>{{ pdt.aircraft }}</b> - {{ pdt.pdt_ref|stringformat:'06d' }} / {{ pdt.date|date:'SHORT_DATE_FORMAT' }}
    </div>

    <form action="" method="POST" data-ajax="false">
        {% csrf_token %}

        <div class="ui-field-contain">
            <div class="fieldWrapper">
                <fieldset class="ui-grid-a">
                <div class="ui-block-a">
                    <label style="margin-top: 15px" for="{{ form.fuel_after.id_for_label }}">Paliwo po locie:</label>
                </div>
                <div class="ui-block-b">{{ form.fuel_after }}</div>
                <div class="ui-block-a">
                    <label style="margin-top: 15px" for="{{ form.fuel_after_source.id_for_label }}">{{ form.fuel_after_source.label }}:</label>
                </div>
                <div class="ui-block-b">{{ form.fuel_after_source }}</div>
                <div class="ui-block-a">
                    <label style="margin-top: 15px" for="{{ form.flying.id_for_label }}">{{ form.flying.label }}:</label>
                </div>
                <div class="ui-block-b">{{ form.flying }}</div>
                </fieldset>
            </div>
            <div class="fieldWrapper">
                <label style="display: none" for="{{ form.failure_desc.id_for_label }}">{{ form.failure_desc.label }}</label>
                {{ form.failure_desc }}
            </div>
            <div class="fieldWrapper">
                <label style="display: none" for="{{ form.remarks.id_for_label }}">{{ form.remarks.label }}</label>
                {{ form.remarks }}
            </div>

            {% if form.non_field_errors %}
                <div class="mobile-form-errors">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                <br>
            {% endif %}

            <fieldset class="ui-grid-a">
                <div class=" ui-block-a"><a class="ui-btn ui-btn-icon-left ui-icon-arrow-l" href={% url 'dispatcher' %}>Anuluj</a></div>
                <div class=" ui-block-b"><button type="submit" class="ui-btn ui-btn-icon-right ui-icon-check">Zamknij</button></div>
            </fieldset>

        </div>

    </form>

{% endblock %}
