{% extends 'panel/panel_template.html' %}

{% load staticfiles %}

{% block title %}Zgłoszenie do PKBWL{% endblock %}

{% block content %}

    <div class="pure-u-5-6">

        <h2>Zgłoszenie zdarzenia do PKBWL</h2>
        <p>Informacje o zdarzeniach lotniczych z udziałem statków powietrznych Salt Aviation należy kierować do Safety Managera Salt.<br>
        Dane kontaktowe: <a href="mailto:a.peksa@salt.aero"><b>a.peksa@salt.aero</b></a>; tel. <b>509 054 635</b>.</p>
        <p>Równolegle to samo zdarzenie można zgłosić do władz lotniczych w imieniu własnym lub anonimowo pod linkiem:</p>
        <br>
        <a class="info-link" href="https://cbz.gov.pl" target="_blank">Centralna Baza Zgłoszeń ULC</a></p>

    </div>

{% endblock %}
