
#mobile-table {
    width: 100%
}

#mobile-table td {
    border-bottom: solid grey 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.9em;
}

.mobile-form-errors {
    text-align: center;
    font-weight: bold;
    color: #c1272d;
}

.ui-res {
    height: 13px;
    font-size: 13px;
}

#custom-border-radius .ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
}

.ui-header h1{
    font-size: 1.1em;
}

.header-button-left,
.header-button-right {
    position: absolute;
    margin: 0;
    top: auto;
    bottom: 0.24em;
}
.header-button-left {
    left: 0.4em;
}
.header-button-right {
    right: 0.4em;
}

.footer-button-left,
.footer-button-right {
    position: absolute;
    margin: 0;
    top: auto;
    bottom: 0.24em;
}
.footer-button-left {
    left: 0.4em;
}
.footer-button-right {
    right: 0.4em;
}

.ui-selectmenu.ui-popup .ui-input-search {
    margin-left: .5em;
    margin-right: .5em;
}
.ui-selectmenu.ui-dialog .ui-content {
    padding-top: 0;
}
.ui-selectmenu.ui-dialog .ui-selectmenu-list {
    margin-top: 0;
}
.ui-selectmenu.ui-popup .ui-selectmenu-list li.ui-first-child .ui-btn {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-selectmenu.ui-dialog .ui-header {
    border-bottom-width: 1px;
}
